@model MerchShop.Models.MerchReviewListView
@{
    Layout = "_MerchReviewLayout";
    ViewData["Title"] = " | Merch Reviews";
    MerchReviewGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
}


<div class="container">
    <h2>Merch Reviews</h2>
    <table class="table table-striped table-bordered table-sm table-hover">
        <thead class="table-dark text-white">
            <tr>
                <th>
                    @{
                        routes.SetSortAndDirection(nameof(Merch.ItemName), current);
                    }
                    <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"
                       class="text-white">Item Name</a>
                </th>
                <th>
                    @{
                        routes.SetSortAndDirection(nameof(MerchReview.ReviewScore.ToString), current);
                    }
                    <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"
                       class="text-white">Review Score</a>
                </th>
                <th>Review Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MerchReview merchReview in Model.MerchReview)
            {
                <tr>
                    <td>
                        @merchReview.Merch.ItemName

                    </td>
                    <td>
                        @merchReview.ReviewScore

                    </td>
                    <td>
                        @merchReview.ReviewText

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        routes = current.Clone();
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            routes.PageNumber = i;
            string active = @Nav.Active(i, current.PageNumber);
            <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"
               class="btn btn-outline-primary @active">@i</a>
        }
    }
</div>