@model MerchShop.Models.VendorListView

@{
    Layout = "_VendorLayout";
    ViewData["Title"] = " | Vendor List";
    VendorGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
}

<div class="container">
    <h2>Vendor Information</h2>
    <table class="table table-striped table-bordered table-sm table-hover">
        <thead class="table-dark text-white">
            <tr>
                <th>
                    @{
                        routes.SetSortAndDirection(nameof(Vendor.Name), current);
                    }
                    <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"
                       class="text-white">Vendor Name</a>
                </th>
                <th>
                    @{
                        routes.SetSortAndDirection(nameof(Vendor.WebURL), current);
                    }
                    <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"
                       class="text-white">Vendor URL</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Vendor vendor in Model.Vendor)
            {
                <tr>
                    <td>
                        @vendor.Name

                    </td>
                    <td>
                        @vendor.WebURL

                    </td>

                </tr>
            }
        </tbody>
    </table>
    @{
        routes = current.Clone();
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            routes.PageNumber = i;
            string active = @Nav.Active(i, current.PageNumber);
            <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"
               class="btn btn-outline-primary @active">@i</a>
        }
    }
</div>